apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
spec:
  selector:
    matchLabels:
      app: app
  replicas: 3
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: DOCKER_IMAGE_NAME
        resources:
          requests:
            cpu: 50m
            memory: 50Mi
        ports:
        - containerPort: 3000
